
.d-header-icons .icon.doc {
    width: auto;
    gap: 0.5em;
    margin-inline: 1em;
    //font-size: 1.5em;
    color: grey;
    
    
    & .d-icon {
        width: 1em;
    }
}

.d-header-icons .d-icon-check {
    color: green;
}
.d-header-icons .d-icon-times {
    color: red;
}
